
/* Home
 * ==================================== */

.list-title {
  margin-bottom: 0;
}

.inline-emoji {
  max-width: 40px;
  max-height: 40px;
  position: relative;
  &.top-10 {
    top: 10px;
  }
}

.energy {
  top: 10px;
}
