$hd-blue: #CAD5DF;

// Brand colors
$color-primary: $hd-blue;
$color-secondary: #B2D2C7;
$color-green: #B2D2C7;
$color-dark-green: #A4C4B9;
$color-black: #000;
$color-red: #F05946;
$color-gray: #989A9D;
$color-light-gray: #ECECED;
$color-dark-gray: #55575B;

// Text colors
$color-black: #000;
$color-link: #fff;
$color-link-hover: $color-red;

// Third-party brand colors
$color-facebook: #03539e;
$color-twitter: #35ccff;
$color-linkedin: #217bc1;

$base-spacing: 3rem;


$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 1100px,
  xl: 1200px
) !default;

$breakpoints: map_keys($grid-breakpoints) !default;

// Buttons
$button-bg: #111;
$button-bg-primary: $hd-blue;
$button-bg-secondary: #c500a9;


// Typography
$body-line-height: 1.5;
$header-line-height: 1.1;

// Font-sizes. Use the same format as $grid-breakpoints above
$xs-font-size: (
  default: 14
);

$sm-font-size: (
  default: 19,
);

$md-font-size: (
  default: 22
);

$lg-font-size: (
  default: 32
);

$xl-font-size: (
  default: 46
);

$xxl-font-size: (
  default: 88
);
